.header {
    box-sizing: border-box;
    height: 665px;
    flex-shrink: 0;
    padding: 47px 0px 50px 0px;
}
.navbar-header {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 98px;
    padding-right: 152px;
}

.cart-icon {
    position: relative;
    display: inline-block;
    /* width: 40px;
    height: 30px; */
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}

.cart-icon .cart-count {
    position: absolute;
    top: -10px;
    right: -8px;
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 15px;
}

.group-nav-1 {
    display: flex;
    gap: 34px;
    align-items: center;
    text-align: center;
}

.group-nav-1 span:first-child {
    color: #07A081;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.group-nav-1 span {
    color: #404146;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.group-nav-2 {
    position: relative;
    display: inline-block;
    margin-right: 35px;
}
.group-nav-2 input{
    width: 261px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 27px;
    border: 0.5px solid #404146;
    padding-left: 12px;
    padding-bottom: 7px;
    margin-left: 24px;
    
}
.group-nav-2 input::placeholder {
    color: #5C5C5C;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.icon-glass {
   
    flex-shrink: 0;
    position: absolute;
    right: 10px; /* Điều chỉnh vị trí của icon bên trong input */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Đảm bảo không có sự tương tác của người dùng với icon */
}
.line {
    width: 1008px; /* Độ rộng của thanh line */
    height: 0.5px; /* Chiều cao của thanh line */
    background-color: #404146; /* Màu nền của thanh line */
    margin: 37px auto 65px auto; /* Đưa thanh line vào giữa màn hình */

}
.content-group p:first-child {
    width: 530px;
    height: 122px;
    color: #333;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 61px; /* 127.083% */
    letter-spacing: 0.48px;
    margin-bottom: 29px;
}
.content-group p:nth-child(2) {
    color: #252525;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    margin-bottom: 30px;
}
.content-group button {
    width: 198px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #07A081;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
    border: none;
    margin-bottom: 26px;
}
.socical {
    display: flex;
    gap: 16px;
}
.box-content-header-1 {
    position: relative;
    margin-top: 150px;
    width: 550px;
}
.content-group {
    position: absolute;
    top: -105px;
   left: 100px;
}
.content-header {
    display: flex;
}
.box-content-header-2 {
    margin-top: 50px;
    position: relative;
}
.group-17 {
    position: absolute;
    bottom: 0%;
    left:3% ;
}
.group-18 {
    position: absolute;
    left: 38%;
    top: -36px;
}
.group-19 {
    position: absolute;
    left: 68%;
    top: -15px;
}
.group-20 {
    position: absolute;
    left: 50%;
    top: 50px;
}
.box-content-header-3 {
    position: relative;
    width: 300px; /* Đảm bảo rằng container có kích thước phù hợp */
    height: 200px;
    margin-top: 100px;
    margin-left: 230px;
}

.overlay-image {
    position: absolute;
    top: 60%; /* Đặt vị trí ở giữa theo chiều dọc */
    left: 3%; /* Đặt vị trí ở giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Đưa hình ảnh ra giữa container */
}
.body-content{
    margin-top: 100px;
    
}
.body-p-1 {
    color: #252525;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 106.25% */
    text-align: center;
}
.body-p-2{
    color: #404146;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 59px;
}
.stamp {
    display: flex;
    width: 1300px;
    padding-left: 100px;
    margin-bottom: 59px;

}
.item {
    position: relative;
    width: 259px;
    height: 101px;
    flex-shrink: 0;
}
.pet {
    position: absolute;
    left: 30px;
    top: 5px;
}
.name-pet {
    position: absolute;
    left: 135px;
    top: 35%;
    color: #3E3E3E;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.image-group {
    position: relative;
}
.image-group p {
    position: absolute;
    width: 56px;
    height: 56px;
    background-color:#FF3C3C ;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 55px;
    top: 5%;
    left: 5%;
}
.card {
    align-items: center;
    border: none;
    padding-left: 0px;
}
.lucky-description {
    color: #404146;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 6px;
    margin-top: 17px;
}
.gender-description{
    color: #404146;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 6px;
}
.price-description {
    color: #404146;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.price-description span {
    text-decoration: line-through;
}
.order-pet {
    padding-left: 100px;
    padding-right: 100px;
}
.pagination-custom {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 220px ;
}
.image-dog, .image-catt {
    display: inline-block;
    position: relative;
    margin-left: 100px;
}
.image-dog::before, .image-catt::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -12px;
    right: 7px;
    bottom: 5px;
    border: 1px solid #404146;
    z-index: -1;
    /* transform: skew(-5deg); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 173px 173px 0px 0px;
}
.contact-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    margin-bottom: 100px;
}
.image-catt {
    position: absolute;
    top: -35%;
    left: 14.5%; 
    z-index: 1;
}
.img-pucci {
    position: absolute;
    top: 75%;
    left: 26%;
}
.img-mart {
    position: absolute;
    top: 85%;
    left: 43.5%;
}
.info-contact p:first-child {
    color: #252525;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 106.25% */
    margin-bottom: 28px;
}
.form-email input {
    width: 261px;
    height: 30px;
    flex-shrink: 0;
    border: 0.5px solid #404146;
    padding-bottom: 5px;
    padding-left: 12px;
    margin-right: 3px;
}
.form-email input::placeholder {
    color: #5C5C5C;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-email button{
    width: 43px;
    height: 30px;
    flex-shrink: 0;
    background: #07A081;
    border: none;
    padding-bottom: 5px;
}
.info-contact p:last-of-type {
    color: #252525;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 106.25% */
    margin-top: 32px;
    margin-bottom: 104px;
}
.info-contact .socical {
    justify-content: flex-end;
}
.event-discount {
    position: relative;
    width: 100%;
    height: 202px;
    flex-shrink: 0;
    background: #07A081;
    padding: 53px 100px 45px 43px;
   
    
}
.event-img {
    position: absolute;
    z-index: 1;
    bottom: 0%;
}
.event-discount p {
    color: #FFF;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 106.25% */
    margin-bottom: 31px;
   
}
.event-discount button {
    margin-left: 45%;
    width: 164.298px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 10px 40px -12px rgba(7, 160, 129, 0.35);
    color: #545454;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
    border: none;
}
.event-img-2 {
    position: absolute;
    z-index: 1;
    top: -15%;
    right: 15%;;
}
.event-img-3 {
    position: absolute;
    z-index: 1;
    bottom: 32px;
    right: 15.5%;;
}
.event-img-4 {
    position: absolute;
    z-index: 1;
    bottom: 68.7px;
    right: 9%;
}
.content-plus {
    padding-left: 168px;
    margin-top:  230px;
    position: relative;
   
}
.dog-2 {
    position: absolute;
    left: 465px;
    bottom: -30%;
    
}
.mark-2 {
    position: absolute;
    left: 50%;
    bottom: 28%;
    z-index: -1;
}
.vote {
    display: flex;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    gap: 9px;
}
.vote span {
    color: #545454;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
} 
.price-plus {
    position: relative;
    margin-top: 10px;
} 
 .price-plus p:first-child{
    width: 108px;
    height: 55px;
    flex-shrink: 0;
    color: #FF3C3C;
    font-family: "Times New Roman";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
}
.price-plus p:last-child {
    position: absolute;
    width: 83px;
    color: #545454;
    font-family: "Times New Roman";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    text-decoration: line-through;
    left: 115px;
    bottom: -5px;
}
.text-discount {
    color: #252525;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-left: 460px;
    margin-top: 70px;
}
.btn-plus {
    position: absolute;
    width: 164.298px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #07A081;
    box-shadow: 0px 10px 40px -12px rgba(7, 160, 129, 0.35);
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
    border: none;
    right: 420px;
    bottom: -30px;
}
.hot-offer {
    position: absolute;
    width: 144px;
    height: 144px;
    flex-shrink: 0;
    background-color:#FF3C3C ;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 106.25% */
    padding: 35px;
    right: 38%;
    bottom: 75%;
}
.line-2 {
    width: 1107px; /* Độ rộng của thanh line */
    height: 0.5px; /* Chiều cao của thanh line */
    background-color: #404146; /* Màu nền của thanh line */
    margin: 37px 166px 43px 167px; /* Đưa thanh line vào giữa màn hình */

}
.transport-group {
    display: flex;
    gap: 16px;
    align-items: center
}
.transport-group p {
    width: 223px;
    height: 34px;
    flex-shrink: 0;
    color: #545454;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
    margin: 0px;
}
.transport {
    padding-left: 254px;
    display: flex;
    gap: 59px;
}
.footer-content {
    position: relative;
    width: 100%;
    height: 320px;
    flex-shrink: 0;
    background: #F6F6F6;
    margin-top: 44px;
    padding-left: 108px;
    padding-top: 51px;
}
.about p:first-child{
    color: #545454;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 170% */
    margin-bottom: 13px;
}
.about p {
    color: #545454;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
    margin-bottom: 13px;
}
.group-ggplay{
    position: relative;
}
.image-ggplay {
    position: absolute;
    left: 15%;
    top: 19%;
}
.text-ggplay {
    position: absolute;
    left: 40%;
    top: 25%;
}
.app-contact {
    display: flex;
    gap: 7px;
}
.footer-content::before {
    content: '';
    position: absolute;
    top: 83%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #404146; /* Màu sắc của đường line */
}
.copyright {
    width: 224px;
    height: 22px;
    flex-shrink: 0;
    margin-top: 17px;
    margin-left: 15px;
    color: #828282;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 124.5%; /* 19.92px */
}
.pagination-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.back {
    display: block;
    background-color: #FFF ;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border: solid 1px black;
    font-weight: 700;
}
.next {
    display: block;
    background-color: #D6EBDC ;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border: solid 1px black;
    font-weight: 700;
}
.back:hover, .next:hover {
    cursor: pointer;
}
/* Màn hình cực lớn */
@media screen and(min-width:1200px) {
   
}
/* Màn hình pc */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .box-content-header-2 {
        display: none;
    }
    #all-pet{
        width: 100%;
    }
   .image-catt {
    display: none;
   }
}

/* Màn hình máy tính bảng */
@media screen and (min-width:768px) and (max-width:992px) {
    .box-content-header-2 {
        display: none;
    }
    .image-catt {
        display: none;
       }
}
/* Màn hình máy điện thoại */
@media screen and (min-width:576px) and (max-width: 768px){
    .box-content-header-2 {
        display: none;
    }
    .content-header{
        flex-direction: column
    }
    .body-content {
        margin-top: 500px;
    }
    .stamp {
        padding: 0px;
    }
    .image-catt {
        display: none;
       }
}

